<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>06-HomeWork-Multithreading.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F9C457641E73F209005CE09C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9C4577D1E73F20A005CE09C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F9C457881E73F20A005CE09C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
